<h3>Top Questions</h3>

<% @questions.each do |question| %>
<form action="/questions/<%= question.id %>/votes" method="POST" name="Upvote">
<input type="hidden" name="vote_type" value="Upvote">
<input type="submit" value="Upvote">
</form>

<form action="/questions/<%= question.id %>/votes" method="POST" name="Downvote">
<input type="hidden" name="vote_type" value="Downvote">
<input type="submit" value="Downvote">
</form>
 <a href='/questions/<%= question.id %>'>
    <table>
      <tr>
        <td><%= question.points %></td><td><%= question.answers.length %></td>
      </tr>

      <tr>
        <td>votes</td><td>answers</td>
      </tr>
    </table>
  </a>

  <a href='/questions/<%= question.id %>'>
    <h4><%= question.title %></h4>
    <ul>
      <% question.tags.each do |tag| %>
        <li class="index-tag"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
      <% end %>
    </ul>
  </a>
  <a href="/users/<%= question.user.id %>"><%= question.user.username %></a></p>
<p>*********************************************</p>
<% end %>
