<h3>Top Questions</h3>

<% @questions.each do |question| %>

<div class="vote"
<form action="/questions/<%= question.id %>/votes" method="POST" name="Upvote">
<input type="hidden" name="vote_type" value="Upvote">
<input type="submit" value="Upvote">
</form>

<form action="/questions/<%= question.id %>/votes" method="POST" name="Downvote">
<input type="hidden" name="vote_type" value="Downvote">
<input type="submit" value="Downvote">
</form>
</div>
<div class="question">
 <a href='/questions/<%= question.id %>'>
     <a href="/questions/<%=question.id%>"><%=question.title %></a>
  <br>
  <div class="question-stats" id="<%=question.id%>">
    <span> submitted by <%=question.user.username %> | <%=question.updated_at%></span> |
    <span> <%=question.points %> points </span>
  </div>
  <!-- <br> -->
</div>

<% end %>
