<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<ul>
  <% @question.tags.each do |tag| %>
      <li class="question-tag"><%= tag.name%></li>
  <% end %>
</ul>

<div>
  <span><%= @question.created_at %>
      <a href="/users/<%= @question.user.id %>"><%= @question.user.username %></a>
  </span>
</div>

<ul class="question-comments">
  <% @question.comments.each do |comment| %>
    <li>
      <p><%= comment.body%></p>
      <p>
        <a href="/users/<%= comment.user.id%>"><%= comment.user.username %>
        </a>
      <%= comment.created_at %>
      </p>
    </li>
  <% end %>
</ul>

<a href="/questions/<%= @question.id %>/comments/new">add a comment</a>

<div id="new-question-comment-container">

</div>


<ul class="answers-list">
  <% @question.answers.each do |answer| %>
  <div class='answer'>
    <li>
<!--       <form action="" method="post">
        <input type="hidden" name="best_answer">
      </form> -->
      <p><%= answer.body%></p>
      <div>
        <%= answer.created_at %>
        <a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a>
      </div>

      <ul class="answers-comments-list">
        <% answer.comments.each do |comment| %>
          <li>
            <p><%= comment.body %></p>
            <p>
              <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
            <%= comment.created_at %>
            </p>
          </li>
        <% end %>
      </ul>
    </li>
    <a href="/answers/<%= answer.id %>/comments/new">add a comment</a>
  <%end%>
</ul>
<div id="new-answer-comment-container">

</div>

</div>
