<h2><%= @question.title %></h2>
<p><%= @question.body %></p>

<ul>
  <% @question.tags.each do |tag| %>
      <li class="question-tag"><a href="/tags/<%= tag.id %>"><%= tag.name%></a></li>
  <% end %>
</ul>

<div>
  <span><%= @question.created_at %>
      <a href="/users/<%= @question.user.id %>"><%= @question.user.username %></a>
  </span>
</div>

<ul class="question-comments">
  <% @question.comments.each do |comment| %>
    <%= erb :'/comments/_comment_partial', locals: {comment: comment} %>
   <% end %>
</ul>


<div id="new-question-comment-container">

</div>
<a class="new-question-comment-link" href="/questions/<%= @question.id %>/comments/new">add a comment</a>


<ul class="answers-list">
  <% @question.answers.order(best_answer: :desc).each do |answer| %>
    <%= erb :'/answers/_new_answer_partial', locals: {answer: answer} %>
  <%end%>
</ul>

<div id="new-answer-container">
  <a id="new-answer-link" href="/questions/<%= @question.id %>/answers/new">Add An Answer </a>
</div>



