<li>

  <form action="/questions/<%= answer.question.id %>/answers/<%= answer.id %>" method="post">
    <input type="submit" value="Make Best Answer!">
  </form>

  <p><%= answer.best_answer %></p>
  <p><%= answer.body %></p>
  <div>
    <%= answer.created_at %>
    <a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a>
  </div>

  <ul class="answers-comments-list">
    <% answer.comments.each do |comment| %>
      <li>
        <p><%= comment.body %></p>
        <p>
          <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
            <%= comment.created_at %>
        </p>
      </li>
    <% end %>
  </ul>
  <a href="/answers/<%= answer.id %>/comments/new">add a comment</a>
</li>
